<table class="table">
    <thead>
      <tr>
        <th scope="col">Numero evennement</th>
        <th scope="col">Nom evenement </th>
        <th scope="col">Date prevu</th>
        <th scope="col">Nombre de host (cliquer pour voir) </th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>ldc psg - om </td>
        <td>20/01/2022 </td>
        <td>2</td>
        <td><button>proposer de host</button></td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>nba lakers - cav </td>
        <td>20/01/2022</td>
        <td>5</td>
        <td><button>proposer de host</button></td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>Athletics - diamond league tokyo</td>
        <td>20/01/2022</td>
        <td>7</td>
        <td><button>proposer de host</button></td>
      </tr>
      <tr>
        <th scope="row">4</th>
        <td>Tour de france</td>
        <td>20/01/2022</td>
        <td>8</td>
        <td><button>proposer de host</button></td>
      </tr>
    </tbody>
  </table>