.background{
    background-image: url("../src/assets/images/broken_concrete.jpg");
    height:100%;
    width:100%;
    opacity: 90%;
}
html,body{
    height:100%;
    width: 100%;
}
p{
    color:white;
}