<nav class="navbar navbar-expand-lg navbar-light" style="background: rgba(0, 0, 0, 0.7)">
    <a class="navbar-brand" routerLink=""><img src="../../assets/images/Logo_Binhom_blanc.png" alt="Binhom" height="23" width="97"></a>
    
    <div id="navbarSupportedContent">
        <ul class="navbar-nav mx-auto">
            <li class="nav-item active">
                <a class="nav-link" routerLink=""><img src="../../assets/images/home_icon.png" alt="Accueil" height="25" width="25"></a>
            </li>

            <li class="nav-item active">
                <a class="nav-link" routerLink="/events"><img src="../../assets/images/matches_icon.png" alt="Matchs" height="25" width="25"></a>
            </li>

            <li class="nav-item active">
                <a class="nav-link" routerLink="/chat"><img src="../../assets/images/chat_icon.png" alt="Matchs" height="25" width="25">></a>
            </li>
            
            <li class="nav-item active">
                <a class="nav-link" routerLink="/profile"><img src="../../assets/images/person-icon-white.png" alt="Matchs" height="25" width="25">></a>
            </li>
            
            
        </ul>
    </div>
</nav>