<div id="mainContainer" class="container">
    <div id="connexionButton" class="container">
        <a routerLink="/log-in">Connexion</a>
    </div>
    <div id="matchOfTheDay" class="container">
        match of the day
    </div>
    <div id='logo' class="container">
        logo
    </div>
    <div id="linksContainer" class="container">
        <div>
            <a routerLink="/log-in">Je reserve un creneau</a>
        </div>
        <div>
            <a routerLink="/log-in">Je propose un creneau</a>
        </div>
    </div>
    <div id="mapConatainer" class="container">
        <div>
            map
        </div>
        <div>
            <a routerLink="/log-in">Je cherche un match pres de chez moi</a>
        </div>
    </div>
</div>
