
<div class="center">
    <div routerLink="/log-in" id="connexionButton" class="button">Connexion</div>
    <div id="matchOfTheDay" class="container">match of the day</div>
    <div id='logo' class="container">logo</div>
    <div routerLink="/log-in" id="linksContainer" class="button">Je reserve un creneau</div>
    <div routerLink="/log-in" id="linksContainer" class="button">Je propose un creneau</div>
    <div id="mapConatainer" class="container"><img src="../../assets/images/map.png" height="300" width="300"></div>
    <div routerLink="/log-in" id="linksContainer" class="button">Chercher un match autour de moi</div>
</div>