<div class="center">
<div class="card">
    <div class="img">
      <img src="../../assets/images/photo_profil.jpg">
    </div>
    <div class="infos">
      <div class="name">
        <h2>Jean Dupont</h2>
        <h4>Membre depuis  : 2 mois et 12 jours</h4>
      </div>
      <p class="text">
        Adresse : 1 rue de la Rue, Ville
        </p>
        <p class="text">
        Je suis abonné à :
        Canal+
        </p>
      <ul class="stats">
        <li>
          <h3>8</h3>
          <h4>Hosts</h4>
        </li>
        <li>
          <h3>12</h3>
          <h4>Guests</h4>
        </li>
        <li>
          <h3>4/5</h3>
          <h4>note</h4>
        </li>
      </ul>
      <div class="links">
        <button class="follow">Mes matchs</button>
        <button class="view">Edit profile</button>
      </div>
    </div>
  </div>
</div>