<div class='background'>
<div class="component">
    <h1 class="component title"> Profile Page</h1>
    <h2>votre note</h2>
    <p>[insérer ici nb etoile/5]</p>
    <h2>vos information</h2>
    <ul id="profileInfo">
        <li >
            jean dupont
        </li>
        <li >
            1 rue de l'adresse, 12345 villevity
        </li>
        <li >
            abonné à :
            <ul>
                <li>being</li>
                <li >canal+</li>
            </ul>
        </li>
    </ul>
    <button>modifier les information</button>
    <h2>Les evennements que vous proposé à venir</h2>
    <h2>Les evennements auquels vous êtes inscrits à venir</h2>
    <h2>Les evennements passé auquels vous avez participé</h2>

</div>
</div>